<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Thanks!</h1>
        <p>The spreadsheet has been checked correctly.</p>
        <p>New candidates will be contacted via email or phone</p>
        <p>Refresh this page if you would like to check again</p>
      </div>
    </div>
  </div>
</div>

